a[href][data-ext-icon="true"] svg.ext-icon {
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.2em;
  vertical-align: text-top;
}

/* Hide external link icons in topic titles */
.fancy-title a[href] svg.ext-icon,
h1 a.raw-topic-link svg.ext-icon,
h1 a.title svg.ext-icon {
  display: none;
}
